<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Premium Prediction</title>

</head>
<body>
    <h1>Predicting premium using Age and BMI</h1>
	<form action="{{url_for('predict')}}" method = "post">
		<input type="text" name="Age" placeholder="Age" required = "required" />
		<input type="text" name="BMI" placeholder="Body Mass Index" required = "required" />

		<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

	</form>
	<br><br>
	{{ prediction_text }}
</body>
</html>